<div class="popup">
  Obs: As informações de sua conta não serão armazenadas nem compartilhadas! Todo o processo de autenticação será apenas para o acesso ao sistema.
</div>


<h1>Seja um usuário:</h1>
<br/>
<button id="loginProvider" (click)="loginWithGoogle()">
  <div class="center">
    <img src="../../../assets/images/google.png" alt="" style="max-width: 30px; max-height: 30px;">
    <h5 class="title">Login com Google</h5>
  </div>
</button>

<br/>
<br/>
<p>@author: Gustavo de Oliveira Fernandes</p>
<p>Contato: gustavofernandes9712@gmail.com</p>
<p>Código aberto: https://github.com/gusta-of/demo</p>
